@charset 'UTF-8';

* {
    text-align: center;
}
div#d1 {
   background-image: url(imagens/pexels-eberhard-grossgasteiger-844297.jpg);
   background-position: center bottom;
   background-attachment: fixed;
   height: 500px;
   width: 100vw;
   position: relative;

}
section {
    position: absolute;
    padding-top: 20px;
    background-color: aliceblue;
    height: 800px;
    width: 100vw;
}
p {
    margin: 0px;
}