@charset 'UTF-8';

* {
    padding: 0px;
    margin: 0px;
}
:root {
    
}
body {
    background-color: whitesmoke;
}
header {
    background-color: cadetblue;
    padding-bottom: 25px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.678);
}
header > h1 {
    font-size: 5em;
    text-align: center;
    padding: 30px 0px;
}
header > p {
    text-align: center;
}
a{
    text-decoration: none;
    font-weigth: bolder;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
main {
}
section {
    margin: 300px 0px 300px 0px;
}
section#s2 {
    background-image: url('imagens/pexels-eberhard-grossgasteiger-844297.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.274);
    
}
section#s4 {
    background-image: url('imagens/pexels-riccardo-bertolo-4245826.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.274);
}
p.p-box {
    margin-left: 100px;
    font-size: 3em;
    padding: 75px 0px;
}
footer {
    margin-top: 100px;
    text-align: center;
}
